<!doctype html>
<html>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
	
</head>

<title>Login Flask</title>
<body>

<table>
	<tr>
		<td><b>Login</b></td>
	</tr>
	<tr>
		<td colspan="2"><input type="text" value="Email" style="width: 200px; height: 15px"></td>
	</tr>
	<tr>
		<td colspan="2"><input type="text" value="Password" style="width: 200px; height: 15px"></td>
	</tr>
	<tr>
		<td><input type="button" value="Login as Administrator" class="loginBtnClass"></td>
		<td><input type="button" value="Login as Employee" class="loginBtnClass"></td>
	</tr>

</body>


		
</html>